@model GestaoProjetos.DTO.ColaboradorTarefa

@{
    ViewData["Title"] = "Tarefas - Colaborador";
}

<h2>Detalhes</h2>

<div>
    <h4>Tarefas - Colaborador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_ColaboradorTarefa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_ColaboradorTarefa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tarefa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tarefa.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colaborador.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Horas_Estimadas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Horas_Estimadas)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_ColaboradorTarefa }) |
    <a asp-action="Index">Voltar para a listagem</a>
</div>
