@model IEnumerable<GestaoProjetos.DTO.ColaboradorTarefa>

@{
    ViewData["Title"] = "Tarefas - Colaboradores";
}

<h2>Tarefas - Colaboradores</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_ColaboradorTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas_Estimadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ColaboradorTarefa)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tarefa.Descricao)
            </td>
            <td>
                @Html.DisplayFor(model => item.Colaborador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas_Estimadas)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_ColaboradorTarefa }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID_ColaboradorTarefa }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.ID_ColaboradorTarefa })
            </td>
        </tr>
    }
    </tbody>
</table>
