@model GestaoProjetos.DTO.Projeto

@{
    ViewData["Title"] = "Projetos";
}

<h2>Excluir Projeto</h2>

<h3>Confirma a exclusão do registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Projeto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Projeto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Razao_Social)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Razao_Social)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Horas_Projeto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Horas_Projeto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Inicial_Contrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Inicial_Contrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id_Projeto)
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a listagem</a>
    </form>
</div>
