@model GestaoProjetos.DTO.Colaborador

@{
    ViewData["Title"] = "Colaboradores";
}

<h2>Excluir Colaborador</h2>

<h3>Confirma a exclusão do registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Colaborador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Colaborador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id_Colaborador)
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a listagem</a>
    </form>
</div>
