@model GestaoProjetos.DTO.Colaborador

@{
    ViewData["Title"] = "Colaboradores";
}

<h2>Detalhes</h2>

<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Colaborador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Colaborador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo.Descricao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Colaborador }) |
    <a asp-action="Index">Voltar para a listagem</a>
</div>
