@model GestaoProjetos.DTO.HorasColaborador

@{
    ViewData["Title"] = "Tarefas - Horas";
}

<h2>Excluir Tarefa - Horas</h2>

<h3>Confirma a exclusão do registro?</h3>
<div>
    <h4>HorasColaborador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_HorasColaborador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_HorasColaborador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tarefa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tarefa.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colaborador.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id_HorasColaborador)
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a listagem</a>
    </form>
</div>
