@model IEnumerable<GestaoProjetos.DTO.Tarefa>

@{
    ViewData["Title"] = "Tarefas";
}

<h2>Tarefas</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Tarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Abertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Tarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao_Exibir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Abertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.Razao_Social)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id_Tarefa }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id_Tarefa }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id_Tarefa })
            </td>
        </tr>
}
    </tbody>
</table>
